.pfp {
    border-radius: 100%;
    width: 50px;
}

body {
    display: flex;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links button {
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin: 10px;
    flex-shrink: 0;
    border: 1px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: black;
    font-size: 22px;
    background-color: #eaeaea;
    cursor: pointer;
}

.links button a {
    display: block;
}

#current {
    background-color: #eaeaeaa6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    filter: none;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}