<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethan Moses: {{ page.title }}</title>
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://kit.fontawesome.com/a8c41c703f.js" crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body>
    {% include navbar.html %}
    <main>
        {{ content }}
    </main>
</body>
</html>