<div class="feature_rect">
    <h3>{{ edu.school }}</h3>
    <p><strong>{{ edu.degree }}</strong> | {{ edu.gpa }}</p>
    <p><strong>Location:</strong> {{ edu.location }}</p>
    <p><strong>Duration:</strong> {{ edu.duration }}</p>
    {% if edu.minors %}
    <p><strong>Minoring In:</strong> {{ edu.minors | join: ", " }}</p>
    {% endif %}
    {% if edu.coursework %}
    <p><strong>Selected Coursework:</strong> {{ edu.coursework | join: ", " }}</p>
    {% endif %}
    {% if edu.activities %}
    <p><strong>Activities:</strong> {{ edu.activities | join: ", " }}</p>
    {% endif %}
    {% if edu.honors %}
    <p><strong>Honors:</strong> {{ edu.honors | join: ", " }}</p>
    {% endif %}
</div>
