<div class="feature_rect">
    <div class="project_header">
        <div class="project_info">
            <h2>{{ project.name }}</h2>
            <p><b class="semi">{{ project.skills }}</b></p>
            {% if project.link %}
                <a href="{{ project.link }}"><button><i class="fa-solid fa-link"></i>Demo</button></a>
            {% endif %}
            {% if project.github %}
                <a href="{{ project.github }}"><button><i class="fa-brands fa-github"></i>Code</button></a>
            {% endif %}
        </div>
        <div class="project_image">

        </div>
    </div>
    <p>{{ project.description }}</p>
</div>