<div class="feature_rect skills_section">
    <h3>Software Development</h3>
    <p><strong>Languages:</strong> {{ site.data.skills.languages | join: ", " }}</p>
    <p><strong>Developer Tools:</strong> {{ site.data.skills.developer_tools | join: ", " }}</p>
    <p><strong>Technologies/Frameworks:</strong> {{ site.data.skills.technologies | join: ", " }}</p>
</div>

<br>

<div class="feature_rect skills_section">
    <h3>Design</h3>
    <p><strong>Techniques:</strong> {{ site.data.skills.techniques | join: ", " }}</p>
    <p><strong>Applications:</strong> {{ site.data.skills.applications | join: ", " }}</p>
</div>