<div class="skills-grid">
    <div class="feature_rect skill-category">
        <h4><i class="fa-solid fa-code"></i> Languages</h4>
        <div class="skill-tags">
            {% for skill in site.data.skills.languages %}
            <span class="skill-tag">{{ skill }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="feature_rect skill-category">
        <h4><i class="fa-solid fa-toolbox"></i> Developer Tools</h4>
        <div class="skill-tags">
            {% for skill in site.data.skills.developer_tools %}
            <span class="skill-tag">{{ skill }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="feature_rect skill-category">
        <h4><i class="fa-solid fa-gears"></i> Technologies</h4>
        <div class="skill-tags">
            {% for skill in site.data.skills.technologies %}
            <span class="skill-tag">{{ skill }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="feature_rect skill-category">
        <h4><i class="fa-solid fa-paintbrush"></i> Design Techniques</h4>
        <div class="skill-tags">
            {% for skill in site.data.skills.techniques %}
            <span class="skill-tag">{{ skill }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="feature_rect skill-category">
        <h4><i class="fa-brands fa-figma"></i> Design Applications</h4>
        <div class="skill-tags">
            {% for skill in site.data.skills.applications %}
            <span class="skill-tag">{{ skill }}</span>
            {% endfor %}
        </div>
    </div>
</div>