---
layout: default
title: Experience
---

<div class="description">
    <h2>Education</h2>
</div>
{% for edu in site.data.education %}
    {% include card_content.html type="edu" item=edu title_key="school" subtitle_key="degree" %}
    <br>
{% endfor %}

<div class="description">
    <h2>Technical Skills</h2>
</div>
{% include skills_content.html %}
<br>

<div class="description">
    <h2>Experience</h2>
</div>
{% for experience in site.data.jobs %}
    {% include card_content.html type="exp" item=experience title_key="company" subtitle_key="role" %}
    <br>
{% endfor %}