---
layout: default
title: Home
---

<div class="description">
    <h1>Hi, I'm Ethan!</h1>
    <h2>I'm a senior studying Computer Science at WashU, who is especially interested in how we can make computer applications more approachable.</h2>
    <p>As computer scientists, we often grapple with the trade-off between packing functionality into an application and making it intuitive for any user, even on their first interaction.</p>
    <p>I have found my own balance with this trade-off in past internships with Maritz and BJC Health System. At Maritz, I worked on evaluating and improving back-end infrastructure to help make my team's application scalable across peak usage. At BJC, I translated user stories into both front-end experiences that let users accomplish tasks quickly, and back-end APIs that efficiently handled user requests.</p>
    <p>My studies in Human-Computer Interaction at WashU have also given me experience visually mocking up user interfaces, improving accessibility by performing user testing and applying information foraging principles, and implementing designs in web development.</p>
    <p>Feel free to explore my portfolio below, or reach out with a LinkedIn message or email. I'm always happy to chat about software engineering, usability, and building products people enjoy using.</p>
</div>
<br>

<div class="title_and_button">
    <h2>Most Recent Projects</h2>
    <a href="/projects.html"><button>More &gt;</button></a>
</div>
<div class="project_row">
    {% assign projects_by_date = site.data.projects | sort: "date" | reverse %}
    {% for project in projects_by_date limit:2 %}
        {% include project_content.html %}
    {% endfor %}
</div>
<br><br>

<div class="title_and_button">
    <h2>Experience and Skills</h2>
    <a href="/experience.html"><button>More &gt;</button></a>
</div>
<div class="row">
    {% for experience in site.data.jobs limit:1 %}
        {% include card_content.html type="exp" item=experience title_key="company" subtitle_key="role" %}
    {% endfor %}
</div>
<br><br>

<div class="title_and_button">
    <h2>Get in Touch</h2>
    <div class="contact_buttons">
        <a href="https://www.linkedin.com/in/ethanmoses04/" target="_blank"><button class="contact_btn"><i class="fa-brands fa-linkedin"></i>LinkedIn</button></a>
        <a href="mailto:e.g.moses@wustl.edu"><button class="contact_btn"><i class="fa-regular fa-envelope"></i>Email</button></a>
    </div>
</div>