---
layout: default
title: Home
---

<div class="description">
    <h1>Hi, I'm Ethan!</h1>
    <h2>I am a student and full-stack developer who is passionate about designing programs that work for people.</h2>
    <p>Currently, I'm a junior at WashU majoring in computer science and minoring in psychology and human-computer interaction.</p>
    <p>Outside of my courses, I’ve been involved as an Intro to CS Section Lead TA, a full-stack developer intern for BJC Health System, a member of Active Minds, and a Chancellor’s Career Fellow. In my free time, I enjoy biking, taking care of my succulents, and spending time with nature.</p>
    <p>Here’s some of what I’ve been up to lately!</p>
</div>
<br>

<div class="title_and_button">
    <h2>Most Recent Projects</h2>
    <a href="/projects.html"><button>More &gt;</button></a>
</div>
<div class="project_row">
    {% assign projects_by_date = site.data.projects | sort: "date" | reverse %}
    {% for project in projects_by_date limit:2 %}
        {% include project_content.html %}
    {% endfor %}
</div>
<br>

<div class="title_and_button">
    <h2>Experience and Skills</h2>
    <a href="https://www.linkedin.com/in/ethanmoses04/"><button>More &gt;</button></a>
</div>
<div class="row">
    <div class="feature_rect">
        <h3>One</h3>
        <p>Some text here</p>
    </div>
</div>