@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-light-gray: #eaeaea;
    --color-light-gray-alpha: #eaeaeaa6;
    --color-dark-gray: #1E1E1E;
    --color-gradient-start: #8D37B5;
    --color-gradient-end: #7FABFF;
    --drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --inset-drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

body, p, span, div {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, button {
    font-family: 'Roboto Serif', serif;
    font-weight: 600;
}

.pfp {
    border-radius: 100%;
    width: 80px;
}

body {
    display: flex;
    margin: 0px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    filter: drop-shadow(var(--drop-shadow));
}

.logo a {
    padding-left: 20px;
    font-size: 24px;
    color: var(--color-white);
    font-weight: 600;
    text-decoration: none;
}

.links button {
    text-align: center;
    border-radius: 10px;
    width: 225px;
    height: 50px;
    flex-shrink: 0;
    border: 0;
    filter: drop-shadow(var(--drop-shadow));
    color: var(--color-black);
    font-size: 22px;
    font-weight: 600;
    background-color: var(--color-light-gray);
    cursor: pointer;
}

.links button a {
    display: block;
}

.sm_buttons {
    display: flex;
    gap: 20px;
}

.sm_buttons button, .menubutton button {
    text-align: center;
    border-radius: 20px;
    border: 0;
    filter: drop-shadow(var(--drop-shadow));
    width: 50px;
    height: 50px;
    font-size: 32px;
    cursor: pointer;
}

#current {
    background-color: var(--color-light-gray-alpha);
    box-shadow: var(--inset-drop-shadow);
    filter: none;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: linear-gradient(var(--color-gradient-start), var(--color-gradient-end));
}   

main {
    padding: 20px 100px;
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    flex-grow: 1;
    overflow-y: auto;
}

.title_and_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_and_button button {
    background-color: var(--color-gradient-start);
    filter: drop-shadow(var(--drop-shadow));
    color: var(--color-white);
    border-radius: 10px;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    cursor: pointer;
}

.row {
    display: flex;
    gap: 40px;
}

.project_row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.project_row > .feature_rect {
    width: 40%;
}

.feature_rect {
    border-radius: 40px;
    padding: 25px;
    background-color: var(--color-light-gray);
    color: var(--color-black);
    flex-grow: 1;
}

.feature_rect h3, .feature_rect h2 {
    margin-top: 0;
}

.semi {
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    .menubutton {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .navbar {
        z-index: 10;
        position: fixed;
        top: 0px;
        width: calc(100vw - 60px);
        max-height: 80px;
        transition: max-height 0.5s ease-out;
        overflow: hidden;
    }
    .header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: calc(100vw - 60px);
    }
    body {
        flex-direction: column;
        margin-top: 120px;
    }
    main {
        padding-left: 5vw;
        padding-right: 5vw;
        height: calc(100vh - 160px);
    }
    .links {
        padding: 40px 0px;
    }
    .show_all {
        max-height: 600px;
    }
}

@viewport {
    width: device-width;
    zoom: 1.0;
}